; Config::Simple 4.59
; Fri Aug 10 09:45:00 2018
; Default Config created by Joerg Siedhof


[Section]
nibe_api_client_secret=" "
redirect_url="http://loxberry.fritz.box/plugins/nibeuplink/index.php"
nibe_api_client_id=" "