<div role=\ "main\" class=\ "ui-content\">
        <div class=\ "ui-body ui-body-a ui-corner-all loxberry-logo\">
                <div style=\ "margin: 5%;\">


                        <h2>Einstellungen</h2>
                        <p>Nach dem Erstellen der MyUplinkUplink Applikation stehen müssen die folgenden Informationen von der
                                Webseite übernommen werden</p>
                        <form method="post" data-ajax="false" name="main_form" id="main_form" action="./saveConfig.cgi">
                                <input type="hidden" id="lang" name="lang" value="<!--$lang-->">
                                <div class="form-group">
                                        <table class="formtable" border="0" width="100%">
                                                <tr>
                                                        <td width="25%">
                                                                <label id="label_myuplink_api_client_id">Identifier:</label>
                                                        </td>
                                                        <td width="50%" colspan="2">
                                                                <input id="myuplink_api_client_id" name="myuplink_api_client_id" type="text" class="textfield" value="<TMPL_VAR myuplink_api_client_id ESCAPE=HTML>">
                                                        </td>
                                                        <td width="25%">
                                                                &nbsp;
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td width="25%">
                                                                <label id="label_myuplink_api_client_secret">Secret:</label>
                                                        </td>
                                                        <td width="50%" colspan="2">
                                                                <input id="myuplink_api_client_secret" name="myuplink_api_client_secret" type="text" class="textfield" value="<TMPL_VAR myuplink_api_client_secret ESCAPE=HTML>">
                                                        </td>
                                                        <td width="25%">
                                                                &nbsp;
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td width="25%">
                                                                <label id="label_redirect_url">Redirect URL:</label>
                                                        </td>
                                                        <td width="50%" colspan="2">
                                                                <input id="redirect_url" name="redirect_url" type="text" class="textfield" value="<TMPL_VAR redirect_url ESCAPE=HTML>">
                                                        </td>
                                                        <td width="25%">
                                                                &nbsp;
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td width="25%">&nbsp</td>
                                                        <td width="50%" colspan="2">
                                                                <input id="submit" name="submit" type="submit" value="Speichern">
                                                        </td>
                                                        <td width="25%">
                                                                &nbsp
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td></td>
                                                        <td colspan=3>
                                                                <div id="form-error-message" class="form-error-message"></div>
                                                        </td>
                                                </tr>
                                        </table>
                                </div>
                        </form>
                </div>
        </div>
</div>