<div role=\ "main\" class=\ "ui-content\">
    <div class=\ "ui-body ui-body-a ui-corner-all loxberry-logo\">
        <div style=\ "margin: 5%;\">
            <h2>Daten wurden erfolgreich gespeichert</h2>
            <p>Die folgenden Einstellungen wurden übernommen:</p>

            <p><b>Identifier:</b> <TMPL_VAR myuplink_api_client_id ESCAPE=HTML></p>
            <p><b>Secret:</b> <TMPL_VAR myuplink_api_client_secret ESCAPE=HTML></p>
            <p><b>Redirect URL:</b> <TMPL_VAR redirect_url ESCAPE=HTML></p>

        </div>
    </div>
</div>